footer
  display: flex
  align-items: center
  background-color: #121249
  color: white
  padding: 2rem 1rem
  gap: 2rem

  #LogoImage
    width: 60px
    height: auto

  #texteLogo
    margin: 0
    font-size: 1.8rem
    font-weight: bold



