footer
  display: flex
  align-items: center
  background-color: #121249
  color: white
  padding: 2% 1%
  gap: 3%
  flex-wrap: wrap
  font-family: Mulish, sans-serif

  #LogoImage
    width: 60px
    height: auto

  #texteLogo
    margin: 0
    font-size: 1.5rem
    font-weight: bold

