<section id="messageErreur" [hidden]="messageErreur === ''">
  <p id="texteErreur">{{ messageErreur }}</p>
</section>

<section id="contenuPage" [hidden]="messageErreur !== ''">
  <h2 id="titreTable">Table : {{ nomTable }}</h2>

  <section id="listeAttributs">
    <h3 id="titreAttributs">Attributs :</h3>
    <ul id="listeUlAttributs">
      <li *ngFor="let attribut of attributs" id="elementAttribut">
        {{ attribut.toUpperCase() }}
        <button id="bouttonSupprAttribut" (click)="supprimerAttribut(attribut)">Supprimer</button>
      </li>
    </ul>
  </section>

  <section id="listeDonnees">
    <h3 id="titreDonnees">Données :</h3>
    <table id="tableDonnees">
      <thead id="tabDonnees">
      <tr id="ligneEntete">
        <th *ngFor="let attribut of attributs" id="enteteColonne">{{ attribut.toUpperCase() }}</th>
        <th id="enteteAction">Action</th>
      </tr>
      </thead>
      <tr *ngFor="let ligne of donnees" id="ligneDonnee">
        <td *ngFor="let attribut of attributs" id="celluleDonnee">{{ ligne[attribut] }}</td>
        <td id="celluleAction">
          <button id="buttonModif" (click)="modifierInsertion(ligne)">Modifier</button>
          <button id="buttonSuppr" (click)="supprimerInsertion(ligne)">Supprimer</button>
        </td>
      </tr>

    </table>
  </section>
</section>
