header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px

#LogoImage
  display: flex
  width: 45px
  height: 41px
  margin-left: 10px

#texteLogo
  font-size: 18px
  font-weight: bold
  margin-left: 20px
  font-family: mulish, sans-serif


app-nav
  flex: 1
  display: flex
  margin-left: 25%
