<button (click)="formualire()">
    <img width="10" height="10" src="https://img.icons8.com/ios/50/search--v1.png" alt="search"/>
</button> 

@if(showForm){
    @if(type.startsWith('varchar')){
        <form #barreRecherheForm="ngForm" (ngSubmit)="onSubmit(barreRecherheForm)">
            <label for="search">Rechercher :</label>
            <input type="text" ngModel required/>
            <button type="submit" [disabled]="barreRecherheForm.invalid"></button>
        </form>
    }

    @if(type==='int'){
        <form #scaleForm="ngForm" (ngSubmit)="onSubmit(scaleForm    )">
            <label>min :</label>
            <input type="number">
            <label>max :</label>
            <input type="number">
            <button type="submit" [disabled]="scaleForm.invalid"></button>
        </form>
    }
}

@if (res){
    <app-pagedetailtable [attributs]="attributs" [donnees]="donnees" />
}
  