<section id="difficultes">
  <h1>Nos difficultés</h1>

  <p>
    Hamidur voulait en découdre avec M. Groff… heureusement, on l’a empêché, pendant la SAE Hamidur avait des problèmes d'élocution en anglais et en orthographe française.
  </p>

  <p>
    Petit top des professeurs qui ne l’apprécient pas :
  </p>

  <ol>
    <li>Top 1 – M. Jérémy Marcinkowski (ça été vérifié)</li>
    <li>Top 2 – M. Groff</li>
    <li>Top 3 – M. Favé</li>
  </ol>

  <p>
    <strong>Bientôt disponible :</strong> un apaisement du côté de chez Hamidur et un RDV dans un asile
  </p>
</section>
