footer
  display: flex
  justify-content: space-between
  gap: 330px

.footer-section
  display: flex
  flex-direction: column
  min-width: 130px
  list-style: none
  gap: 8px


.footer-title
  font-weight: bold
  font-size: 18px
  color: white

.footer-section a
  color: #ffffff
  text-decoration: none
  font-size: 15px
  transition: color 0.3s ease

.footer-section a:hover
  color: #4489b8
@media screen and (max-width: 600px)
  footer
    flex-direction: column
    align-items: center
    gap: 2rem
    padding: 2rem 1rem
    text-align: center

  .footer-section
    align-items: center
    justify-content: center
