@if (messageErreur !== '') {
  <section id="messageErreur">
    <p id="texteErreur">{{ messageErreur }}</p>
  </section>
} @else {
  <section id="contenuPage">
    <h2 id="titreTable">Table : {{ nomTable }}</h2>

    <section id="listeAttributs">
      <h3 id="titreAttributs">Attributs :</h3>
      <ul id="listeUlAttributs">
        @for (attribut of attributs; track attribut) {
          <li id="elementAttribut">
            {{ attribut.nom.toUpperCase() }}
            <button id="bouttonSupprAttribut" (click)="supprimerColonne(attribut.nom)">Supprimer</button>
          </li>
        }
      </ul>
    </section>

    <section id="listeDonnees">
      <h3 id="titreDonnees">Données :</h3>
      <table id="tableDonnees">
        <thead id="tabDonnees">
        <tr id="ligneEntete">
          @for (colonne of attributs; track colonne) {
            <th id="enteteColonne">{{ colonne.nom.toUpperCase() }}
            <app-filtre [nomTable]="nomTable" [colonne]="colonne.nom" [types]="colonne.types" (envoieDonnees)="updateDonnees($event)"></app-filtre>
            </th>

          }
          <th id="enteteAction">Action</th>
        </tr>
        </thead>
        <tbody>
          @for (donnee of pagination; track donnee) {
            <tr id="ligneDonnee">
              @for (attribut of attributs; track attribut) {
                <td id="celluleDonnee">{{ donnee[attribut.nom] }}</td>
              }
              <td id="celluleAction">
                <button id="buttonModif" (click)="modifierLigne(donnee)">Modifier</button>
                <button id="buttonSuppr" (click)="supprimerLigne(donnee)">Supprimer</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <section id="pagination">
        <app-pagination
          [totalElements]="donnees.length"
          [elementsParPage]="elementsParPage"
          [pageActuelle]="pageActuelle"
          (changementPage)="setPage($event)">
        </app-pagination>
      </section>
    </section>
  </section>
}
