@if (messageErreur !== '') {
  <section id="messageErreur">
    <p id="texteErreur">{{ messageErreur }}</p>
  </section>
} @else {
  <section id="contenuPage">
    <h2 id="titreTable">Table : {{ nomTable }}</h2>

    <section id="listeAttributs">

      <h3 id="titreAttributs">Attributs : </h3>
      <details>
        <summary>Voir</summary>

      <ul id="listeUlAttributs">
        @for (attribut of attributs; track attribut) {
          <li id="elementAttribut">
            {{ attribut.nom.toUpperCase()}} - {{ attribut.types.toUpperCase()}}
            <button id="bouttonModifAttribut" (click)="modifierAttribut(attribut.nom)">Modifier</button>
          </li>
        }
      </ul>
      </details>
    </section>

    <section id="listeDonnees">
      <h3 id="titreDonnees">Données :
        <button id="button-reset" (click)="resetPage()">
          <img width="10" height="10" src="https://img.icons8.com/?size=100&id=86242&format=png&color=000000" alt="reset" style="margin-right: 6px;"/>
          Réinitialiser la recherche
        </button>

        <div id="containerInsertion">
          <button id="buttonInsertion" (click)="formualireInsertion()">Insérer des données</button>
        </div>
      </h3>

      <table id="tableDonnees">
        <thead id="tabDonnees">
        <tr id="ligneEntete">
          @for (colonne of attributs; track colonne) {
            <th id="enteteColonne">{{ colonne.nom.toUpperCase() }}
            <app-filtre [nomTable]="nomTable" [colonne]="colonne.nom" [types]="colonne.types" (envoieDonnees)="updateDonnees($event)"></app-filtre>
            </th>

          }
          <th id="enteteAction">Action</th>
        </tr>
        </thead>
        <tbody>
          @for (donnee of pagination; track donnee) {
            <tr id="ligneDonnee">
              @for (attribut of attributs; track attribut) {
                <td id="celluleDonnee">{{ donnee[attribut.nom] }}</td>
              }
              <td id="celluleAction">
                <button id="buttonModif" (click)="modifierLigne(donnee)">Modifier</button>
                <button id="buttonSuppr" (click)="supprimerLigne(donnee)">Supprimer</button>
              </td>
            </tr>
          }
        </tbody>
      </table>



      <section id="pagination">
        <app-pagination
          [totalElements]="donnees.length"
          [elementsParPage]="elementsParPage"
          [pageActuelle]="pageActuelle"
          (changementPage)="setPage($event)">
        </app-pagination>
      </section>
    </section>

  </section>
  @if (formualireInsert) {
    <div id="overlay"></div>
    <app-formulaire-donnee (annulerFormulaire)=removeFormualire() ></app-formulaire-donnee>
  }
  @if (formulaireModification) {
    <div id="overlay"></div>
    <app-formulaire-donnee [donnees]=donneModifier (annulerFormulaire)=removeFormualire() ></app-formulaire-donnee>
  }
}
