#menu
  display: flex
  gap: 30px
  list-style: none
  margin-left: auto
  margin-right: 60px

#menu li
  font-family: 'Mulish', sans-serif
  font-size: 18px
  font-weight: 300
  cursor: pointer

#menu a
  text-decoration: none
  color: #000000
  transition: color 0.3s ease-in-out
  font-weight: bold


#menu li:not(#home-link) a
  color: #111111
